@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin")]

@page "/asociacion/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@using CurrieTechnologies.Razor.SweetAlert2

<PageTitle>Crear Asociación</PageTitle>

<h3>Crear</h3>

<AsociacionForm @ref="asociacionForm" asociaciones="asociacion" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Asociacion asociacion = new Asociacion();
    private AsociacionForm asociacionForm;



    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/Asociaciones", asociacion);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000




            });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {




        asociacionForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/asociacion");




    }


}
