@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks />
            <a href="https://www.icbf.gov.co/instituto" target="_blank">Sitio ICBF</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
