@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Imagina Tu Mundo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>


        <AuthorizeView Roles="Admin,Madre">
            <Authorized>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="madrescomunitarias" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> <i class="bi bi-person-standing-dress"></i>Madre Comunitaria
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


        
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="asociacion" Match="NavLinkMatch.All">
                        <span  aria-hidden="true"></span> <i class="bi bi-houses-fill"></i>Asociaciones
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Representante">
            <Authorized>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="representantelegal" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> <i class="bi bi-person-workspace"></i>Representantes Legales
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,ICBF">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ninos" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> <i class="bi bi-person-walking"></i>Niños
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

         <AuthorizeView Roles="Admin,ICBF">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="icbf" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span><i class="bi bi-rocket-fill"></i> ICBF
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,ICBF,Representante">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tareasmadres" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span><i class="bi bi-bell-fill"></i> Tareas para Madres
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Madre,Representante">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="evidencia" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> <i class="bi bi-send-fill"></i>Evidencias
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
         <AuthorizeView Roles="Admin,ICBF">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscripcion" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> <i class="bi bi-person-add"></i>Inscripción
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
         <AuthorizeView Roles="Admin,ICBF,Madre">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="asignacionmadre" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span><i class="bi bi-emoji-kiss-fill"></i> Asignación Madres
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,Representante,Madre">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seguimiento" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span>  <i class="bi bi-envelope"></i>Seguimiento Niños
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
