<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ImaginaTuMundo.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="madrescomunitarias" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Madre Comunitaria
            </NavLink>
        </div>


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="asociacion" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Asociaciones
                    </NavLink>
                </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="representantelegal" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Representantes Legales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ninos" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Niños
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="icbf" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ICBF
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tareasmadres" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Tareas para Madres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="evidencia" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Evidencias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscripcion" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inscripción
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="asignacionmadre" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Asignación a Madres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seguimiento" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Seguimiento Niños
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
