@page "/Register"

<h3>Ingrese que usuario desea registrar</h3>

<a class="btn btn-primary" href="RegisterMadre">Madre Comunitaria</a>
<a class="btn btn-primary" href="RegisterRepresentante">Representante Legal</a>
<a class="btn btn-primary" href="RegisterICBF">Usuario ICBF</a>