@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Inicio</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Bienvenidos a Imagina Tu Mundo</h1>
            <h3 class="mb-4">Transformando la educación infantil</h3>
            <p class="lead">En Imagina Tu Mundo, nos dedicamos a proporcionar un entorno educativo estimulante y seguro para los niños en edad preescolar. Nuestro enfoque único en el desarrollo integral de los niños les ayuda a crecer y prosperar en un ambiente acogedor y centrado en el aprendizaje.</p>
            <p class="lead">Contamos con un equipo dedicado de madres comunitarias y representantes legales comprometidos con el bienestar de los niños y el apoyo a las familias en su viaje educativo.</p>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <p class="lead">Estás autenticado y autorizado, @context.User.Identity?.Name</p>
                </Authorized>
                <NotAuthorized>
                    <p class="lead">No estás autorizado</p>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="col-md-6">
            <img src="Foto/infatil.png" alt="Educación Infantil" class="img-fluid rounded shadow">
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="display-5 mb-4">Nuestros Servicios</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0 shadow-sm">
                <img src="Foto/MadresComu.png" class="card-img-top" alt="Madres Comunitarias">
                <div class="card-body">
                    <h5 class="card-title">Madres Comunitarias</h5>
                    <p class="card-text">Nuestras madres comunitarias son el corazón de nuestro programa. Proporcionan cuidado amoroso y educación de calidad a los niños en un entorno hogareño y seguro.</p>
                    <a href="InfoMadre" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 shadow-sm">
                <img src="Foto/repre.png" class="card-img-top" alt="Representantes Legales">
                <div class="card-body">
                    <h5 class="card-title">Representantes Legales</h5>
                    <p class="card-text">Nuestros representantes legales trabajan en estrecha colaboración con las familias para garantizar el cumplimiento de los requisitos legales y ofrecer apoyo en todos los aspectos de la educación infantil.</p>
                    <a href="InfoRepresentante" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 shadow-sm">
                <img src="Foto/logo.png" class="card-img-top" alt="Información de la Empresa">
                <div class="card-body">
                    <h5 class="card-title">Información de la Empresa</h5>
                    <p class="card-text">Descubre más sobre nuestra misión, visión y valores, así como nuestros programas educativos y recursos para familias.</p>
                    <a href="InfoImaginaTuMundo" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contáctanos</h5>
                <p>Estamos aquí para ayudarte. Ponte en contacto con nosotros si tienes alguna pregunta o comentario.</p>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Medellín, Antioquia, CO</li>
                    <li><i class="bi bi-telephone-fill"></i> Teléfono: 057+ 272 61 32</li>
                    <li><i class="bi bi-envelope-fill"></i> Email: corporacion@imaginatumundo.co</li>
                    <li>
                        Lunes a Viernes: 7:00 am – 5:00 pm
                        <br />
                        Sábados: 7:00am – 12:00 am
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Síguenos</h5>
                <p>Mantente al día con nuestras últimas noticias y actualizaciones siguiéndonos en nuestras redes sociales.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/imaginatumundoaqui/"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/imaginatm?lang=es"><i class="bi bi-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    body {
        background-color: #f7f7f7;
        font-family: 'Arial', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }

    p {
        color: #666;
    }

    .card {
        margin-bottom: 20px;
    }

    .card-img-top {
        border-bottom: 1px solid #ddd;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .display-4 {
        font-size: 2.5rem;
    }

    .display-5 {
        font-size: 2rem;
    }

    .lead {
        font-size: 1.1rem;
    }

    .shadow {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .shadow-sm {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .rounded {
        border-radius: 10px;
    }
</style>